@import "tailwindcss";

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #1a1a1a;
}
::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #444 #1a1a1a;
  @apply box-border;
}
html {
  color-schema: dark;
}
body {
  @apply font-[Inter];
}
main {
  width: inherit;
}
button {
  @apply cursor-pointer;
}
h1-h4 {
  @apply font-[Exo+2];
}

.container {
  @apply px-3 mx-auto max-w-6xl;
}

.title {
  @apply text-3xl font-bold font-[Exo_2];
}

.subtitle {
  @apply text-2xl font-bold font-[Exo_2];
}

.content,
.list {
  @apply text-[1rem] text-white opacity-70;
}

.white-filter {
  filter: brightness(0) saturate(100%) invert(100%) sepia(19%) saturate(21%)
    hue-rotate(289deg) brightness(104%) contrast(105%);
}
